{% extends "./base.html" %}
{% block content %}
<br>
<div class="container">
    <form method="post">
        {% csrf_token %}
         <div class="col-md-12">
            {{ form }}
            <span id="nmbrbottles" class="nmbrb-stlye"></span>
            <br><br>
        </div>
            <a href="/wine" class="btn btn-info btn-sm">
            {% load static %}
                <img src="{% static "wine/bootstrap/icons/x-square.svg" %}" alt="Schliessen" width="" height="" title="Schliessen">
            </a>
            <button type="submit" class="btn btn-info btn-sm" data-toggle="button" aria-pressed="false">
                <img src="{% static "wine/bootstrap/icons/lock.svg" %}" alt="Save" width="" height="" title="Save">
            </button>
    </form>
</div>
<br><br>
<script>
    var slider = document.getElementById("id_nmbrbottles");
    var output = document.getElementById("nmbrbottles");
    output.innerHTML = slider.value;
        slider.oninput = function() {
      output.innerHTML = this.value;
    }
</script>
{% endblock %}