{% csrf_token %}
{% load static %}
<!doctype html>
<html lang="de">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'wine/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'wine/style.css' %}" />
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<title>Weinkeller</title>
</head>
{% block content %}
{% endblock %}
</div>
</body>
</html>
