{% extends "./base.html" %}

{% block content %}




<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">

                     <h2 align="center"> 🍷 Mein Weinkeller</h2>
      <br>
      <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
        <label>{{ form.username.label_tag }}
          <td>{{ form.username }}</td>
        </label>
        <label>{{ form.password.label_tag }}
          <td>{{ form.password }}</td>
        </label>
        <input type="submit" class="button" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      {% endif %}
















    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-5">
    </div>
    <div class="col">
    </div>
  </div>
</div>





{% endblock %}