{% extends "./base.html" %}

{% block content %}
<br>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>{{ form.username.label_tag }}
        <td>{{ form.username }}</td>
        </label>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>{{ form.password.label_tag }}
        <td>{{ form.password }}</td>
        </label>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <input type="submit" class="button" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </div>
  </div>
</form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}