{% extends "./base.html" %}

{% block content %}
<br>
    <div align="center">
     <h2 align="center"> 🍷 Mein Weinkeller</h2>
      <br>
      <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
        <label>{{ form.username.label_tag }}</label><br>
          {{ form.username }}
          <br>
          <label>{{ form.password.label_tag }}</label><br>
          {{ form.password }}

        <input type="submit" class="button" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      {% endif %}
</div>
{% endblock %}