<div up-main="modal" class="p-4">
  <h3>{{ wine.winename }} {{ wine.year|default_if_none:'' }}</h3>
            <div class="modal-body">
            <h6>{{ wine.producer }}</h6>
            <b>Land:</b> {{ wine.country }}<br>
            <b>Region:</b> {{ wine.region }}<br>
            <b>Typ:</b> {{ wine.get_winetype_display }}<br>
            <b>Trauben:</b> {{ wine.grapes }}<br>
            <b>Trinkreif von:</b> {{ wine.drinkfrom|default_if_none:'' }}<br>
            <b>Trinkbar bis:</b> {{ wine.drinkto|default_if_none:'' }}<br>
            <b>Händler:</b> {{ wine.dealer }}<br>
            <b>Kaufdatum:</b> {{ wine.purchase|default_if_none:''|date:'d.m.Y' }}<br>
            <b>Preis:</b> {{ wine.price }}<br>
            <b>Lagerort:</b> {{ wine.warehouse }}<br>
            <b>Jahrgang:</b> {{ wine.year }}<br>
            <b>Anzahl Flaschen: {{ wine.nmbrbottles }}</b><br><br>
            <b>Notiz:</b><br>
            {{ wine.notes|linebreaksbr }}
            <br><br>
            <div class="dates">Update: {{ wine.editdate|date:"d.m.Y"}}</div>

  <button
    up-target=".up-modal-content"
    up-href="{% url 'wine_edit' wine.pk %}">
    ✏️ Bearbeiten
  </button>

  <button
    up-layer="new modal"
    up-href="{% url 'wine_delete' wine.pk %}"
    class="text-red-600">
    🗑️ Löschen
  </button>

  <button up-dismiss>Schließen</button>
</div>