{% if q or country %}

<div class="flex flex-wrap gap-2 mb-3">

  {% if q %}
    <div class="bg-gray-100 px-3 py-1 rounded-full text-sm flex items-center gap-2">
      🔍 {{ q }}
      <a href="?country={{ country }}" class="text-gray-400 hover:text-gray-700">×</a>
    </div>
  {% endif %}

  {% if country %}
    <div class="bg-gray-100 px-3 py-1 rounded-full text-sm flex items-center gap-2">
      🌍 {{ country }}
      <a href="?q={{ q }}" class="text-gray-400 hover:text-gray-700">×</a>
    </div>
  {% endif %}

</div>

{% endif %}

<table class="min-w-full text-sm">

   <thead class="sticky top-0 bg-gray-50 border-b border-gray-200 z-10">

    <tr class="text-left text-xs uppercase tracking-wide text-gray-500">

      <th class="px-4 py-3 w-10"></th>

      {% include "wines/_th.html" with label="Wein" field="winename" %}
      {% include "wines/_th.html" with label="Produzent" field="producer" %}
      {% include "wines/_th.html" with label="Land" field="country" %}
      {% include "wines/_th.html" with label="Jg." field="year" %}

      {% include "wines/_th.html" with label="Von" field="drinkfrom" %}
      {% include "wines/_th.html" with label="Bis" field="drinkto" %}

      {% include "wines/_th.html" with label="Flaschen" field="nmbrbottles center" %}

    </tr>

  </thead>

  <tbody class="divide-y divide-gray-100">

    {% for wine in wines %}
<tr class="hover:bg-gray-50 transition-colors">
        <!-- ACTION -->
      <td class="px-4 py-2 whitespace-nowrap">
          <button up-layer="new modal"
                up-href="{% url 'wine_detail' wine.pk %}"
                class="text-gray-400 hover:text-gray-700 transition">
          🔍
        </button>
      </td>

      <!-- DATA CELLS -->
      <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
        {{ wine.winename }}
      </td>

      <td class="px-4 py-3 text-gray-600">
        {{ wine.producer }}
      </td>

      <td class="px-4 py-3 text-gray-600">
        {{ wine.country }}
      </td>

      <td class="px-4 py-3">
        {{ wine.year |default_if_none:''}}
      </td>

      <td class="px-4 py-3 text-gray-500">
        {{ wine.drinkfrom |default_if_none:''}}
      </td>

      <td class="px-4 py-3 text-gray-500">
        {{ wine.drinkto |default_if_none:''}}
      </td>

      <td class="px-4 py-3 text-center">
        {% if wine.nmbrbottles == 0 %}
          <span class="text-red-500 font-semibold">{{ wine.nmbrbottles }}</span>
        {% else %}
          {{ wine.nmbrbottles }}
        {% endif %}
      </td>

    </tr>

    {% empty %}
    <tr>
      <td colspan="10" class="text-center py-10 text-gray-400">
        🍷 Keine Weine gefunden
        <div class="text-sm mt-1">
          Versuche einen anderen Suchbegriff
        </div>
      </td>
    </tr>

    {% endfor %}

  </tbody>

</table>
