{% extends "./base.html" %}
{% block content %}

<div class="min-h-screen bg-gray-100">
  <div class="mx-auto max-w-7xl p-6 space-y-6">
  <!-- TOP BAR -->
  <div class="bg-white rounded-2xl border border-gray-100 shadow-sm p-4">
    <form
    id="filters"
    up-target="#wine-table"
    up-autosubmit
    class="flex gap-2 items-stretch"
  >
    <input
      type="text"
      name="q"
      value="{{ q }}"
      placeholder="🔍 Search wines, producers..."
      class="w-full md:w-96 px-4 py-3 rounded-xl border border-gray-200 focus:ring-2 focus:ring-gray-200 outline-none"
    >
    <a href="{% url 'wine_list' %}"
      class="inline-flex items-center gap-2 rounded-xl border border-gray-200 bg-white px-4 py-3 text-gray-700 shadow-sm hover:bg-gray-50 hover:text-red-600 transition">
      
      <svg xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="1.5">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 7h12M10 11v6m4-6v6M9 7V5a3 3 0 0 1 6 0v2m3 0-1 12a2 2 0 0 1-2 2H9a2 2 0 0 1-2-2L6 7" />
      </svg>
      Reset
    </a>
    <a href="{% url 'wine_new' %}"
      up-layer="new modal"
      class="hidden sm:flex items-center gap-2 rounded-xl border border-gray-200 bg-white px-4 py-3 text-gray-700 shadow-sm hover:bg-gray-50 hover:text-red-600 transition">
      ➕
    </a>
    <a href="/wines/log"
      class="hidden sm:flex items-center gap-2 rounded-xl border border-gray-200 bg-white px-4 py-3 text-gray-700 shadow-sm hover:bg-gray-50 hover:text-red-600 transition">

      <svg xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="1.5">

        <path stroke-linecap="round"
              stroke-linejoin="round"
              d="M11.25 2.25v9h9A9 9 0 1 1 11.25 2.25Z" />

        <path stroke-linecap="round"
              stroke-linejoin="round"
              d="M21.75 12A9 9 0 0 0 12 2.25v9.75h9.75Z" />

      </svg>
    </a>        
  </form>
  </div>

  <!-- ACTIVE FILTERS -->
  {% if q %}
  <div class="flex flex-wrap gap-2 text-sm">

    {% if q %}
      <div class="bg-gray-100 px-3 py-1 rounded-full flex items-center gap-2">
        🔍 {{ q }}
      </div>
    {% endif %}

  </div>
  {% endif %}

  <!-- META -->
  <div class="flex justify-between text-sm text-gray-500 px-1">
    <div>{{ wines|length }} Positionen</div>
  </div>

  <!-- TABLE -->
  <div class="bg-white rounded-2xl border border-gray-100 shadow-sm overflow-hidden">

    <form up-autosubmit up-target="#wine-table" class="w-full rounded-md border border-gray-200 px-2 py-1 text-xs">

      <!-- Filters-->
      <!-- winetype -->
      <select
        name="winetype"
        class="h-8 w-24 rounded-md border border-gray-200 bg-white px-2 text-xs text-gray-700 outline-none focus:ring-2 focus:ring-gray-200">
          <option value="">Typ</option>
          {% for value, label in winetypes %}
          <option value="{{ value }}"
          {% if request.GET.winetype == value %}selected{% endif %}>
          {{ label }}
          </option>
          {% endfor %}
      </select>
      
      <!-- winename -->
        <input
          type="text"
          name="winename"
          value="{{ request.GET.winename }}"
          placeholder="Weinname"
          class="h-8 w-24 rounded-md border border-gray-200 bg-white px-2 text-xs text-gray-700 outline-none focus:ring-2 focus:ring-gray-200">

      <!-- producer -->
        <input
          type="text"
          name="producer"
          value="{{ request.GET.producer }}"
          placeholder="Produzent"
          class="hidden sm:table-cell h-8 w-24 rounded-md border border-gray-200 bg-white px-2 text-xs text-gray-700 outline-none focus:ring-2 focus:ring-gray-200">

      <!-- country -->
        <select
          name="country"
          class="hidden sm:table-cell h-8 w-24 rounded-md border border-gray-200 bg-white px-2 text-xs text-gray-700 outline-none focus:ring-2 focus:ring-gray-200">
          <option value="">Land</option>
          {% for c in countries %}
            <option value="{{ c }}" {% if request.GET.country == c %}selected{% endif %}>
              {{ c }}
            </option>
          {% endfor %}
        </select>

      <!-- year -->
        <select
          name="year"
          class="h-8 w-24 rounded-md border border-gray-200 bg-white px-2 text-xs text-gray-700 outline-none focus:ring-2 focus:ring-gray-200">
          <option value="">Jahrgang</option>
          {% for c in years %}
            <option
              value="{{ c }}"
              {% if request.GET.year == c|stringformat:"s" %}selected{% endif %}>
              {{ c }}
            </option>
          {% endfor %}
        </select>         

      <!-- drinkfrom -->
        <select
          name="drinkfrom"
          class="hidden sm:table-cell h-8 w-24 rounded-md border border-gray-200 bg-white px-2 text-xs text-gray-700 outline-none focus:ring-2 focus:ring-gray-200">
          <option value="">trinkbar von</option>
          {% for c in drinkfrom %}
            <option
              value="{{ c }}"
              {% if request.GET.drinkfrom == c|stringformat:"s" %}selected{% endif %}>
              {{ c }}
            </option>
          {% endfor %}
        </select>  

      <!-- drinkto -->
        <select
          name="drinkto"
          class="hidden sm:table-cell h-8 w-24 rounded-md border border-gray-200 bg-white px-2 text-xs text-gray-700 outline-none focus:ring-2 focus:ring-gray-200">
          <option value="">trinkbar bis</option>
          {% for c in drinkto %}
            <option
              value="{{ c }}"
              {% if request.GET.drinkto == c|stringformat:"s" %}selected{% endif %}>
              {{ c }}
            </option>
          {% endfor %}
        </select>   

      <!-- nmbrbottles -->
        <input
          type="number"
          name="nmbrbottles"
          value="{{ request.GET.nmbrbottles }}"
          placeholder="Flaschen"
          class="hidden sm:table-cell h-8 w-24 rounded-md border border-gray-200 bg-white px-2 text-xs text-gray-700 outline-none focus:ring-2 focus:ring-gray-200">
    </form>
    
  <div id="wine-table">
    {% include "wines/_table.html" %}
      </div>
      </div>
      </div>
      {% endblock %}

</div>
</div>