{% extends "./base.html" %}
{% block content %}

<div class="space-y-6">

  <!-- TOP BAR -->
  <div class="bg-white rounded-2xl border border-gray-100 shadow-sm p-4">

    <form
      id="filters"
      up-target="#wine-table"
      up-autosubmit
      class="flex flex-col md:flex-row md:items-center gap-3">

      <input
        type="text"
        name="q"
        value="{{ q }}"
        placeholder="🔍 Search wines, producers..."
        class="w-full md:w-96 px-4 py-3 rounded-xl border border-gray-200 focus:ring-2 focus:ring-gray-200 outline-none"
      >


      <a href="{% url 'wine_list' %}"
         class="text-sm text-gray-400 hover:text-gray-700 ml-auto">
        Reset
      </a>

    </form>

  </div>

  <!-- ACTIVE FILTERS -->
  {% if q or country %}
  <div class="flex flex-wrap gap-2 text-sm">

    {% if q %}
      <div class="bg-gray-100 px-3 py-1 rounded-full flex items-center gap-2">
        🔍 {{ q }}
      </div>
    {% endif %}

    {% if country %}
      <div class="bg-gray-100 px-3 py-1 rounded-full flex items-center gap-2">
        🌍 {{ country }}
      </div>
    {% endif %}

  </div>
  {% endif %}

  <!-- META -->
  <div class="flex justify-between text-sm text-gray-500 px-1">
    <div>{{ wines|length }} wines</div>
  </div>

  <!-- TABLE -->
  <div class="bg-white rounded-2xl border border-gray-100 shadow-sm overflow-hidden">

    <form up-autosubmit up-target="#wine-table" class="w-full rounded-md border border-gray-200 px-2 py-1 text-xs">

      <input name="q">
      <input name="drinkfrom">
      <input name="drinkto">
      <input name="nmbrbottles">

    </form>


    <div id="wine-table">
      {% include "wines/_table.html" %}
    </div>

  </div>

</div>

{% endblock %}