{% extends "wines/base.html" %}
{% block content %}
<div class="min-h-screen bg-gray-100">
    <div class="mx-auto max-w-7xl p-6 space-y-6">
    {% load static %}
    <div class="row">
        <p>
          MyBottles: <b>{{bottles_sum|default:"0"}}</b> Flaschen, {{wines_sum|default:"0"}} Positionen.
              </div>
        <p>
          <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
            <span><a href="/wines/stats"> 📊 Stats!</a></span>
          </button>
        </p>
        <p>
          <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
            <span><a href="/wines/export_xls">Excel Export</a></span>
          </button>
          <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
            <span><a href="/wines/export_csv">CSV Export  </a></span>
          </button>     
        </p>
        <div class="row">
          <b>Letzte 30 Veränderungen im Keller:</b>
          <br><br>
          {% load static %}
          {% for wine in wines %}
          {% load static %}
          <div class="winelog">{{ wine.editdate|date:"d.m.Y"}}, 
          <a href="{% url 'wine_detail' wine.pk %}"
            up-layer="new modal"
            up-target="body">
            <b>{{ wine.winename }}</b>
          </a> -
          {{ wine.producer }}
          {{ wine.year }}
          ({{ wine.nmbrbottles }})
        </div>
          {% empty %}
          <li>Keine Weine gefunden.</li>  
          {% endfor %}
          {% endblock %}
      </div>
  </div>
</div>
















