{% extends "./wines/base.html" %}
{% block content %}
{% load static %}
<br><br>
<div class="container">
    <div class="login">
        <h2 align="center"> 🍷 MyBottles</h2>
        <br>
            <h1 class="h3 mb-3 fw-normal">Login</h1>
                <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <br>
                        <input type="submit" class="w-100 btn btn-lg btn-success" value="Login" />
                        <input type="hidden" name="next" value="{{ next }}" />
                        <a href="{% url 'password_reset' %}">Lost password?</a></p>
                {% if form.errors %}
                <p>Dein Benutzername und Passwort stimmen nicht überein, bitte versuche es noch einmal.</p>
                {% endif %}
                </form>
    </div>
</div>
{% endblock %}