body,html {
    /* background-color: #c6747e; */
    margin-left: 10px;
    }

.container {
width: 100%;
max-width: 1400px;
margin: auto;
}

th, td   {
font-size: 14px;
}

a {
    color: black;
    font-color: black;
    text-decoration: none;
}

a, a:link, visited {
    font-color: black;
    text-decoration: none;
}

label {
display: inline-block;
width: 7em;
}

.dates {
font-size: 10px;
}

#footer {
  font-size: 8pt;
  position: absolute;
  margin-left: 20px;
  bottom: 0;
  width: 100%;
}