body,html {
    background-color: ;
    margin-left: 10px;
    }

.container {
width: 100%;
max-width: 1400px;
margin: auto;
}

th, td   {
font-size: 14px;
}

a {
    color: black;
    font-color: black;
    text-decoration: none;
}

a, a:link, visited {
    font-color: black;
    text-decoration: none;
}

label {
display: inline-block;
width: 7em;
}

.dates {
font-size: 10px;

}