.container {
width: 100%;
max-width: 1400px;
padding-top: 40px;
margin: auto;
}

.content    {
margin: 20px;
}

.top-bar, .top-bar ul {
background-color: #f8f9fa;
}

th, td   {
font-size: 14px;
}

a {
    color: black;
    font-color: black;
    text-decoration: none;
}

a, a:link, visited {
    font-color: black;
    text-decoration: none;
}

label {
display: inline-block;
width: 7em;
}

.dates {
font-size: 10px;
}

#footer {
  font-size: 8pt;
  position: absolute;
  margin-left: 20px;
  bottom: 0;
  width: 100%;
}
