{% extends "./base.html" %}
{% block content %}
<div class="container">

    Verwaltung deines Weinkellers<br><br>

        <b>Features:</b><br><br>
    - Erfassen der Weine<br>
    - Autosortierung nach Land, Region, Jahrgang<br>
    - Instant Suche<br>
    - Spaltensortierung<br>
    - Detail und Anpassung<br>
        <br><br>
        <hr>
    Project Repo: <a href="https://github.com/mikch06/django-winecellar">https://github.com/mikch06/django-winecellar</a><br>
    Open Issues: <a href="https://github.com/mikch06/django-winecellar/issues">https://github.com/mikch06/django-winecellar/issues</a>
</div>
{% endblock %}
