{% extends "./base.html" %}
{% block content %}
<div class="container">
<br>
    <h4>About</h4>
    Online Weinkeller Verwaltung
    <br>
    by
    <br>
    Michael Kissel
    <br><br>
    Wünsche und Anregungen:
    <br>
    <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#116;&#111;&#111;&#108;&#115;&#64;&#107;&#105;&#115;&#115;&#101;&#108;&#46;&#99;&#104;">E-Mail me</a>
    <hr>
    Changelog/Releases: <a href="https://github.com/mikch06/django-winecellar/releases">https://github.com/mikch06/django-winecellar/releases</a><br><br>
    Project Repo: <a href="https://github.com/mikch06/django-winecellar">https://github.com/mikch06/django-winecellar</a><br>
    Open Issues: <a href="https://github.com/mikch06/django-winecellar/issues">https://github.com/mikch06/django-winecellar/issues</a>
</div>
{% endblock %}
