{% extends "./base.html" %}
{% block content %}
<div class="container">
<br>
    <h4>About</h4>
        <hr>
    Changelog/Releases: <a href="https://github.com/mikch06/django-winecellar/releases">https://github.com/mikch06/django-winecellar/releases</a><br><br>
    Project Repo: <a href="https://github.com/mikch06/django-winecellar">https://github.com/mikch06/django-winecellar</a><br>
    Open Issues: <a href="https://github.com/mikch06/django-winecellar/issues">https://github.com/mikch06/django-winecellar/issues</a>
</div>
{% endblock %}
