{% csrf_token %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'wine/foundation/css/foundation.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'wine/style.css' %}" />
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<title>Weinkeller</title>
</head>
<body>
  <div class="container">
    <div class="top-bar" id="example-animated-menu" data-animate="hinge-in-from-top spin-out">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><a href="/"> 🍷 Mein Weinkeller</a></li>
      <li><a href="/new">New</a></li>
      <li><a href="/about">About</a></li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <a class="button success" href="{% url 'logout'%}?next={{request.path}}">Logout {{ user.get_username }}</a>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>

    </ul>
  </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>
<script src="{% static 'wine/foundation/js/vendor/jquery.js' %}"></script>
<script src="{% static 'wine/foundation/js/vendor/what-input.js' %}"></script>
<script src="{% static 'wine/foundation/js/vendor/foundation.min.js' %}"></script>
<script src="{% static 'wine/assets/js/app.js' %}"></script>
<script src="{% static 'wine/js/sortable.js' %}"></script>
<script>
  $(document).foundation();
</script>