{% extends "./base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="grid-container">
    <div class="grid-x grid-padding-x">
        <form method="post">
            {% csrf_token %}
            {{ form.as_table }}
        <a href="/wine" class="button"><i class="fas fa-window-close"></i></a>
        <button type="submit" class="button"><i class="fas fa-save"></i></button>
        </form>
    </div>
    </div>
</body>
</html>
{% endblock %}