{% extends "./base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">{% csrf_token %}
    <div class="grid-container">

            <label>Weinname:</label>
      {{ form.winename }}
  </div>
  <div class="form-group">
    <label>Jahrgang:</label>
      {{ form.year }}
  </div>





      <div class="medium-6 cell">
        <label>Land:
                {{ form.country }}
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Anz. Flaschen:
                {{ form.nmbrbottles }}
        </label>
      </div>
              <div class="medium-6 cell">
        <label>Region:
                {{ form.region }}
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Kaufdatum:<br>
                {{ form.purchase }}
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Preis: (~ CHF)
                {{ form.price }}
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Händler:
                {{ form.dealer }}
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Trauben:
                {{ form.grapes }}
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Trinkreif von:
                {{ form.drinkfrom }}
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Trinkbar bis:
                {{ form.drinkto }}
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Notes:
                {{ form.notes }}
        </label>
      </div>
    </div>
      <div class="medium-6 cell">
        <a href="/wine/{{ wine.id }}" class="button"><img src="/static/wine/bootstrap/icons/x-square.svg" alt="Cancel" width="32" height="32" title="Cancel"></a>
        <button type="submit" class="btn btn-link" data-toggle="button" aria-pressed="false">
         <img src="/static/wine/bootstrap/icons/lock.svg" alt="Save" width="32" height="32" title="Save">
        </button>
</form>
<br><br><br><br>

<form>
  <div class="form-group">
    <label>Weinname:</label>
      {{ form.winename }}
  </div>
  <div class="form-group">
    <label>Jahrgang:</label>
      {{ form.year }}
  </div>
  <div class="form-group">
    <label>Land:</label>
      {{ form.country }}
  </div>
    <div class="form-group">
    <label>Region:</label>
      {{ form.region }}
  </div>
    <div class="form-group">
    <label>Anz. Flaschen:</label>
      {{ form.nmbrbottles }}
  </div>
    <div class="form-group">
    <label>Kaufdatum:</label>
      {{ form.purchase }}
  </div>
    <div class="form-group">
    <label>Produzent</label>
      {{ form.producer }}
  </div>

        <a href="/wine/{{ wine.id }}" class="button"><img src="/static/wine/bootstrap/icons/x-square.svg" alt="Cancel" width="32" height="32" title="Cancel"></a>
        <button type="submit" class="btn btn-link" data-toggle="button" aria-pressed="false">
         <img src="/static/wine/bootstrap/icons/lock.svg" alt="Save" width="32" height="32" title="Save">
        </button>


</form>




</body>
</html>
{% endblock %}