{% extends "./base.html" %}
{% block content %}

<div class="container">
    <div class="content">
        <h4>Verwaltung deines Weinkellers</h4>
        <br>
        <h5>Features:</h5>
            <ul>
            <li>Erfassen der Weine</li>
            <li>Autosortierung nach Trinkfenster (austrinken), Land, Region, Jahrgang</li>
            <li>Instant Suche</li>
            <li>Spaltensortierung</li>
            <li>Filter in Spalten</li>
            <li>Details und Anpassungen</li>
            <li>Winelog mit letzten Änderungen, Anzahl Flaschen und Weinen</li>
            </ul>
        <h5>Bugs: 🐞</h5>
            <ul>
                <li>Excel Export liefert für alle Weine dasselbe Kaufdatum.</li>
                <li><del>Overlay (grey) bei Detailview mit gefilterter Ansicht.</del></li>
            </ul>
        <h5>Changes in der Webapp:</h5>
        <span class="badge bg-secondary">24.12.2024</span>
        <ul>
        <li>Insert Search Format Highlighter</li>
        <li>Django Version increase -> 5.1.4</li>
        </ul> 
        <span class="badge bg-secondary">14.12.2024</span>
        <ul>
        <li>Update Bootstrap-Tables Framework</li>
        </ul>      
        <span class="badge bg-secondary">20.01.2024</span>
            <ul>
            <li>Servermigration auf Rocky9.</li>
            <li>Update auf Django 5.0.1!!</li>
            <li>Dynamische aktuelles Jahr für Einkaufsjahr.</li>
            <li>Fixes in Datenbank sessions.</li>
            </ul>        
        <span class="badge bg-secondary">7.12.2022</span>
            <ul>
            <li>Neue Tabellenanordnung mit "paging".</li>
            <li>Tabelle mit fixen Einträgen.</li>
            <li>Mit Dropdown änderbar und blättern möglich.</li>
            </ul>
        <span class="badge bg-secondary">28.11.2022</span>
            <ul>
            <li>Rote "0" für weiter geführte Weine in der Liste.</li>
            </ul>        
        <span class="badge bg-secondary">13.11.2022</span>
            <ul>
            <li>Buttons für Detail View neutral gestaltet.</li>
            <li>Kaufdatum für 2023 angepasst.</li>
            </ul>
        <span class="badge bg-secondary">29.08.2022</span>
            <ul>
            <li>Neue Detailview unter "Veränderungen im Keller".</li>
            <li>Integrierte Edit Funktion.</li>
            </ul>
        <span class="badge bg-secondary">25.08.2022</span>
            <ul>
            <li>Fixes</li>
            </ul>        
        <span class="badge bg-secondary">28.03.2022</span>
            <ul>
            <li>Neuintegration Login und Passwortreset -> UX.</li>
            </ul>
        <span class="badge bg-secondary">14.02.2022</span>
            <ul>
            <li>Exportfunktion implementiert.</li>
            </ul>
        <span class="badge bg-secondary">01.02.2022</span>
            <ul>
            <li>Fix für Detailview - kein Fehler mehr bei Modal Overlay.</li>
            </ul>
        <span class="badge bg-secondary">29.01.2022</span>
            <ul>
            <li>Neues Datenfeld "Lagerort" (Warehouse) bei verschiedenen Keller.</li>
            </ul>
        <span class="badge bg-secondary">28.12.2021</span>
            <ul>
            <li>Korrekturen für Modal Popup in Mobile View.</li>
            </ul>
        <span class="badge bg-secondary">15.12.2021</span>
            <ul>
            <li>Modal (Popup) als neue Detailview.</li>
            <li>ermöglicht Filter, Suche und Detail View.</li>
            </ul>
        <span class="badge bg-secondary">23.11.2021</span>
            <ul>
            <li>Neue Spaltenfilter</li>
            <li>Einzelne Spalten lassen sich mit Texteingabe oder Dropdown nach Inhalt filtern.</li>
            </ul>
        <span class="badge bg-secondary">21.08.2021</span>
            <ul>
            <li>Feld "Händler" in Suche integriert</li>
            <li>"Already logged in" Message, wenn noch eine aktive Session besteht.</li>
            </ul>        
        <span class="badge bg-secondary">24.05.2021</span>
            <ul>
            <li>Neuintegration Volltextsuche</li>
            <li>Neuimplementierung Detail View mit Collapse View</li>
            <li>Neue Navigation</li>
            <li>Bootstrap 5</li>
            </ul>
        <span class="badge bg-secondary">17.05.2021</span>
            <ul>
            <li>Neuintegration Detailview</li>
            <li>Fix für Favicons</li>
            </ul>
        <span class="badge bg-secondary">17.04.2021</span>
            <ul>
            <li>Neue View und mobile View</li>
            <li>Mobile View zeigt nur noch Weinname, Jahrgang und Anz. Flaschen</li>
            <li>Browserview passt sich allen Geräten an</li>
            </ul>
        <span class="badge bg-secondary">31.03.2021</span>
            <ul>
            <li>Einträge können kopiert werden</li>
            </ul>
        <span class="badge bg-secondary">28.03.2021</span>
            <ul>
            <li>Neue Integration Suche/Filter</li>
            <li>Neue about Page</li>
            <li>Flaschenzähler auf die about page verschoben</li>
            <li>Icon für Link zu Winelog neben Suchmaschine</li>
            <li>Weindetail klappt nun "smooth" auf</li>
            </ul>
        <span class="badge bg-secondary">05.03.2021</span>
            <ul>
            <li>Neue Frontpage - single image</li>
            <li>Navi zeigt Nachnamen und Zusatz an, oder Bentzername</li>
            <li>Logout Button von User getrennt</li>
            <li>Neu überarbeitete Detailansicht: popover -> detail</li>
            </ul>
        <span class="badge bg-secondary">04.02.2021</span>
            <ul>
            <li>Überarbeitetes Formular</li>
            <li>Fixe Feldattribute in models</li>
            <li>Formular über django nicht über Frontend gerendert</li>
            </ul>
        <span class="badge bg-secondary">09.02.2021</span>
            <ul>
            <li>Vor- Nachname beim eingeloggten User</li>
            <li>Fullview (hidden)</li>
            <li>Neuer Weinlog</li>
            </ul>
        <span class="badge bg-secondary">20.01.2021</span>
            <ul>
            <li>Neue Detail Ansicht</li>
            <li>Neu: Popdown für Detailansicht</li>
            <li>Ersatz mit Bootstrap Popover zu html5 details</li>
            </ul>
        <span class="badge bg-secondary">20.11.21</span>
            <ul>
            <li>Passwort kan selber zurückgesetzt werden</li>
            <li>Neue Startseite - ohne Loginmaske</li>
            </ul>
            <hr>
        Releases: <a href="https://github.com/mikch06/django-winecellar/releases">https://github.com/mikch06/django-winecellar/releases</a><br><br>
        Project Repo: <a href="https://github.com/mikch06/django-winecellar">https://github.com/mikch06/django-winecellar</a><br>
        Open Issues: <a href="https://github.com/mikch06/django-winecellar/issues">https://github.com/mikch06/django-winecellar/issues</a>
    </div>
</div>
{% endblock %}
