{% extends "./base.html" %}
{% block content %}

<div class="container">
    <div class="content">
        <h4>Verwaltung deines Weinkellers</h4>
        <br>
        <h5>Features:</h5>
            <ul>
            <li>Erfassen der Weine</li>
            <li>Autosortierung nach Trinkfenster (austrinken), Land, Region, Jahrgang</li>
            <li>Instant Suche</li>
            <li>Spaltensortierung</li>
            <li>Filter in Spalten</li>
            <li>Details und Anpassungen</li>
            <li>Winelog mit letzten Änderungen, Anzahl Flaschen und Weinen</li>
            </ul>
        <h5>Bugs: 🐞</h5>
            <ul>
                <li>Excel Export liefert für alle Weine dasselbe Kaufdatum.</li>
                <li><del>Overlay (grey) bei Detailview mit gefilterter Ansicht.</del></li>
            </ul>
        <h5>Changelog:</h5>
        <a href="https://github.com/mikch06/winecellar/blob/master/changelog.md" target="_blank">https://github.com/mikch06/winecellar/blob/master/changelog.md</a>
            <hr>
        Releases: <a href="https://github.com/mikch06/django-winecellar/releases">https://github.com/mikch06/django-winecellar/releases</a><br><br>
        Project Repo: <a href="https://github.com/mikch06/django-winecellar">https://github.com/mikch06/django-winecellar</a><br>
        Open Issues: <a href="https://github.com/mikch06/django-winecellar/issues">https://github.com/mikch06/django-winecellar/issues</a>
    </div>
</div>
{% endblock %}
