<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, Bootstrap Table!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/filter-control/bootstrap-table-filter-control.css">
  </head>
  <body>
    <table data-toggle="table" data-filter-control="true" data-filter-control-visible="false" data-show-search-clear-button="true" data-show-filter-control-switch="true">
      <thead>
        <tr>
          <th data-field="item" data-filter-control="input">Item ID</th>
          <th data-field="name" data-filter-control="input">Item Name</th>
          <th data-field="year" data-filter-control="select">Item Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>cutting</td>
            <td>pink</td>
            <td>2010</td>
        </tr>
        <tr>
            <td>dark</td>
            <td>fastened</td>
            <td>time</td>
        </tr>
        <tr>
            <td>at</td>
            <td>instead</td>
            <td>each</td>
        </tr>
        <tr>
            <td>willing</td>
            <td>window</td>
            <td>2005</td>
        </tr>
        <tr>
            <td>open</td>
            <td>pale</td>
            <td>2010</td>
        </tr>
        <tr>
            <td>tie</td>
            <td>today</td>
            <td>2009</td>
        </tr>
        <tr>
            <td>try</td>
            <td>settlers</td>
            <td>2005</td>
        </tr>
        <tr>
            <td>printed</td>
            <td>milk</td>
            <td>crowd</td>
        </tr>
        <tr>
            <td>factory</td>
            <td>mood</td>
            <td>2010</td>
        </tr>
        <tr>
            <td>research</td>
            <td>till</td>
            <td>women</td>
        </tr>
        <tr>
            <td>stopped</td>
            <td>supply</td>
            <td>2005</td>
        </tr>
      </tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/filter-control/bootstrap-table-filter-control.js"></script>
  </body>
</html>
