{% extends "./base.html" %}
{% block content %}
{% load static %}
<div class="container">
    <div class="content">
        <h4>Tools</h4>
            <a class="btn btn-secondary" href="/wine/log" role="button"><img src="{% static "wine/bootstrap/icons/card-list.svg" %}" alt="Detail" width="" height="" title="Changes in Stock"></a>
            Keller Log
            <br><br>
            <a class="btn btn-secondary" href="/wine/export" role="button"><img src="{% static "wine/bootstrap/icons/filetype-csv.svg" %}" alt="Detail" width="" height="" title="Export to CSV File"></a>
            CSV Export
    </div>
</div>
{% endblock %}
