{% extends "./base.html" %}
{% block content %}
<div class="content">
<form method="post">{% csrf_token %}
    {{ wine.winename }} wirklich löschen?<br><br>
    <a href="/" class="button"><img src="/static/wine/bootstrap/icons/x-circle.svg" alt="Schliessen" width="32" height="32" title="Schliessen"></a>
    <button type="submit" class="btn btn-link" data-toggle="button" aria-pressed="false">
       <img src="/static/wine/bootstrap/icons/check-circle.svg" alt="Save" width="32" height="32" title="Save">
      </button>
</form>
 </div>
{% endblock %}