{% extends "./base.html" %}
{% block content %}

    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell"><b>Weinname:</b> {{ wine.winename }}</div>
      <div class="medium-6 cell"><b>Produzent:</b> {{ wine.producer }}</div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell"><b>Jahrgang:</b> {{ wine.year }}</div>
      <div class="medium-6 cell"><b>Trauben:</b> {{ wine.grapes }}</div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell"><b>Land:</b> {{ wine.country }}</div>
      <div class="medium-6 cell"><b>Region:</b> {{ wine.region }}</div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">&nbsp;</div>
      <div class="medium-6 cell">&nbsp;</div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell"><b>Trinkreif ab:</b> {{ wine.drinkfrom }}</div>
      <div class="medium-6 cell"><b>Austrinken bis:</b> {{ wine.drinkto }}</div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">&nbsp;</div>
      <div class="medium-6 cell">&nbsp;</div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell"><b>Anzahl Flaschen:</b> {{ wine.nmbrbottles }}</div>
      <div class="medium-6 cell"><b>Händler:</b> {{ wine.dealer }}</div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">&nbsp;</div>
      <div class="medium-6 cell">&nbsp;</div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell"><b>Kaufdatum:</b> {{ wine.purchase }}</div>
      <div class="medium-6 cell">&nbsp;</div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell"><b>Notiz:</b> {{ wine.notes }}</div>
      <div class="medium-6 cell">&nbsp;</div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">&nbsp;</div>
      <div class="medium-6 cell">&nbsp;</div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell"><div class="dates">Update: {{ wine.editdate|date:"d.m.Y"}}</div></div>
      <div class="medium-6 cell">&nbsp;</div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">&nbsp;</div>
      <div class="medium-6 cell">&nbsp;</div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <a href="/wine" class="button"><i class="fas fa-window-close"></i></a>
        <a href="{% url 'wine:update_wine' wine.id %}" class="button"><i class="fas fa-edit"></i></a>
        <a href="{% url 'wine:wine_delete' wine.id %}" class="button"><i class="fas fa-trash"></i></a>
      </div>
      <div class="medium-6 cell">&nbsp;</div>
    </div>
{% endblock %}