{% extends "./base.html" %}
{% block content %}
<form method="post">{% csrf_token %}
    <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Weinname:
          <input id="winename" type="text" name="winename" value="{{ wine.winename }}" placeholder="Weinname">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Produzent:
          <input id="producer" type="text" name="producer" value="{{ wine.producer }}" placeholder="Produzent">
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Jahrgang:
          <input id="year" type="number" name="year" value="{{ wine.year|default:"2015" }}">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Land:
            <select id="country" name="country" value="{{ wine.country }}">
                <option value="-">-</option>
                <option value="Australien">Australien</option>
                <option value="Frankreich">Frankreich</option>
                <option value="Deutschland">Deutschland</option>
                <option value="Italien">Italien</option>
                <option value="Österreich">Österreich</option>
                <option value="Portugal">Portugal</option>
                <option value="Schweiz">Schweiz</option>
                <option value="Spanien">Spanien</option>
                <option value="Südafrika">Südafrika</option>
                <option value="USA">USA</option>
            </select>
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Anz. Flaschen:
          <input id="nmbrbottles" type="number" name="nmbrbottles" value="{{ wine.nmbrbottles|default:"6" }}">
        </label>
      </div>
              <div class="medium-6 cell">
        <label>Region:
          <input id="region" type="text" name="region" value="{{ wine.region }}" placeholder="Region">
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Kaufdatum:
          <input id="purchase" type="datetime-local" name="purchase" placeholder="YYYY-MM-DD" value="{{ wine.purchase }}" placeholder="Kaufdatum">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Preis: (~ CHF)
          <input id="price" type="text" name="price" value="{{ wine.price|default:"0" }}">
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Händler:
          <input id="dealer" type="text" name="dealer" value="{{ wine.dealer }}" placeholder="Händler">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Trauben:
          <input id="grapes" type="text" name="grapes" value="{{ wine.grapes }}" >
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Trinkreif von:
          <input id="drinkfrom" type="number" name="drinkfrom" value="{{ wine.drinkfrom }}" placeholder="Trinkreife">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Trinkreif bis:
          <input id="drinkto" type="number" name="drinkto" value="{{ wine.drinkto }}" placeholder="Trinkreife">
        </label>
      </div>
    </div>
      <div class="medium-6 cell">
        <label>
        <a href="/wine/{{ wine.id }}" class="button"><i class="fas fa-window-close"></i></a>
        <button type="submit" class="button"><i class="fas fa-save"></i></button>
        </label>
      </div>
</form>
{% endblock %}
