{% extends "./base.html" %}
{% block content %}
<br>
<!-- open Container -->
<div class="container">
{% load static %}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-secondary" type="button" id="button-addon1" onClick="window.location.reload()">
        <img src="{% static "wine/bootstrap/icons/x-circle.svg" %}" alt="Detail" width="" height="" title="Reset">
    </button>
  </div>
  <input type="search" class="form-control" id="wineSearch" placeholder="search&filter" onfocus="this.value=''" aria-label="Reset" aria-describedby="button-addon1">
  <div class="input-group-append">
    <span class="input-group-text">
        <a href="/wine/log">
                <img src="{% static "wine/bootstrap/icons/card-list.svg" %}" alt="Detail" width="" height="" title="Changes in Stock"></a>
    </span>
  </div>
</div>
<div class="table-responsive">
<table class="table table-hover sortable" id="wineTable">
  <thead>
    <tr>
      <th width="50" ><img src="{% static "wine/bootstrap/icons/search.svg" %}" alt="Detail" width="16" height="16" title="Details"></th>
      <th style="cursor:pointer">Weinname</th>
      <th class="d-none d-sm-table-cell" style="cursor:pointer">Produzent</th>
      <th class="d-none d-sm-table-cell" style="cursor:pointer">Land</th>
      <th class="d-none d-sm-table-cell" style="cursor:pointer">Region</th>
      <th style="cursor:pointer">Jahrgang</th>
      <th class="d-none d-sm-table-cell">Trauben</th>
      <th class="d-none d-sm-table-cell" style="cursor:pointer">trinkbar von</th>
      <th class="d-none d-sm-table-cell" style="cursor:pointer">trinkbar bis</th>
      <th style="cursor:pointer"><img src="{% static "wine/bootstrap/icons/basket-fill.svg" %}" alt="Detail" width="16" height="16" title="Detail"></th>
    </tr>
  </thead>
<tbody>
{% for wine in object_list %}
{% load static %}
<tr>
    <th scope="row"> <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#wine{{ wine.id }}" aria-expanded="false" aria-controls="wine{{ wine.id }}">
        <img src="{% static "wine/bootstrap/icons/search.svg" %}" alt="Detail" width="16" height="16" title="Details">
        </button>
    </th>
    <td>{{ wine.winename }}</td>
    <td class="d-none d-sm-table-cell">{{ wine.producer }}</td>
    <td class="d-none d-sm-table-cell">{{ wine.country }}</td>
    <td class="d-none d-sm-table-cell">{{ wine.region }}</td>
    <td>{{ wine.year|default_if_none:'' }}</td>
    <td class="d-none d-sm-table-cell">{{ wine.grapes }}</td>
    <td class="d-none d-sm-table-cell">{{ wine.drinkfrom|default_if_none:''}}</td>
    <td class="d-none d-sm-table-cell">{{ wine.drinkto|default_if_none:'' }}</td>
    <td>{{ wine.nmbrbottles }}</td>


    <td colspan="4" class="hiddenRow"><div class="collapse" id="wine{{ wine.id }}">
        <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        <h6>{{ wine.winename }}</h6>
        <br>
        <h6>{{ wine.producer }}</h6>
        <br>
        <b>Land:</b> {{ wine.country }}
        <br>
        <b>Region:</b> {{ wine.region }}
        <br>
        <b>Trauben:</b> {{ wine.grapes|default_if_none:'' }}
        <br>
        <b>Trinkreif von:<!-- Michi --></b> {{ wine.drinkfrom|default_if_none:'' }}
        <br>
        <b>Trinkbar bis:</b> {{ wine.drinkto|default_if_none:'' }}
        <br>
        <b>Händler:</b> {{ wine.dealer }}
        <br>
        <b>Händler:</b> {{ wine.dealer }}
        <br>
        <b>Kaufdatum:</b> {{ wine.purchase|default_if_none:''|date:'d.m.Y' }}
        <br>
        <b>Preis:</b> {{ wine.price }}
        <br>
        <b>Jahrgang:</b> {{ wine.year }}
        <br>
        <b>Anzahl Flaschen:</b> {{ wine.nmbrbottles }}
        <br>
        <b>Notiz:</b>
        <br>
        {{ wine.notes }}
        <br>
        <div class="dates">Update: {{ wine.editdate|date:"d.m.Y"}}</div>
        <br>
        <a href="{% url 'wine:update_wine' wine.id %}" class="btn btn-info btn-sm">
        <img src="{% static "wine/bootstrap/icons/pencil.svg" %}" alt="Edit" width="" height="" title="Wein editieren">
        </a>
        <a href="{% url 'wine:wine_delete' wine.id %}" class="btn btn-info btn-sm">
        <img src="{% static "wine/bootstrap/icons/trash.svg" %}" alt="Löschen" width="" height="" title="Wein löschen">
        </a>
        <a href="{% url 'wine:copy_wine' wine.id %}" class="btn btn-info btn-sm">
        <img src="{% static "wine/bootstrap/icons/clipboard-plus.svg" %}" alt="Edit" width="" height="" title="Wein kopieren">
        </a>
    </div>
    </div>
    </td>
</tr>

{% endfor %}
</tbody>
</table>
</div>

<!-- close Container -->
</div>
<!-- Scritps -->
<!-- search&filter -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script>
// search&filter
$(document).ready(function(){
  $("#wineSearch").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#wineTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}


<!-- donf forget
<tr class="noBorder">
tr from collapse row
-->