{% extends "./base.html" %}
{% block content %}
<div class="card-body">
        <h5 class="card-title">{{ wine.winename }}</h5>
<form method="post">{% csrf_token %}
    <label for="winename">Weinname:</label>
    <input id="winename" type="text" name="winename" value="{{ wine.winename }}"><br>
    <label for="producer">Produzent:</label>
    <input id="producer" type="text" name="producer" value="{{ wine.producer }}"><br>
    <label for="grapes">Traubensorten: </label>
    <input id="grapes" type="text" name="grapes" value="{{ wine.grapes }}"><br>
    <label for="year">Jahrgang: </label>
    <input id="year" type="number" name="year" value="{{ wine.year }}"><br>
    <label for="country">Land: </label>
    <input id="country" type="text" name="country" value="{{ wine.country }}"><br>
    <label for="region">Region: </label>
    <input id="region" type="text" name="region" value="{{ wine.region }}"><br>
    <label for="purchase">Gekauft: </label>
    <input id="purchase" type="date" name="purchase" value="{{ wine.purchase }}"><br>
    <label for="notes">Notes: </label>
    <textarea id="notes" name="notes" rows="4" cols="30">{{ wine.notes }}</textarea><br>
    <label for="drinkfrom">Trinkreif ab: </label>
    <input id="drinkfrom" name="drinkfrom" value="{{ wine.drinkfrom|default:"" }}"><br>
    <label for="drinkto">Austrinken bis: </label>
    <input id="drinkto" name="drinkto" value="{{ wine.drinkto|default:""  }}"><br>
    <label for="nmbrbottles">Anz. Flaschen:</label>
    <input id="nmbrbottles" type="number" name="nmbrbottles" value="{{ wine.nmbrbottles }}"><br><br><br>
    <a href="/wine/{{ wine.id }}" class="btn btn-primary"><i class="fas fa-window-close"></i></a>
    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
</form>
</div>
{% endblock %}
