{% extends "./base.html" %}
{% block content %}
<form method="post">{% csrf_token %}
    <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Weinname:
          <input id="winename" type="text" name="winename" value="{{ wine.winename }}" placeholder="Weinname">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Produzent:
          <input id="producer" type="text" name="producer" value="{{ wine.producer }}" placeholder="Produzent">
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Jahrgang:
          <input id="year" type="number" name="year" value="{{ wine.year|default:"2015" }}">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Land:
            {{ form.country }}
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Anz. Flaschen:
          <input id="nmbrbottles" type="number" name="nmbrbottles" value="{{ wine.nmbrbottles|default:"6" }}">
        </label>
      </div>
              <div class="medium-6 cell">
        <label>Region:
          <input id="region" type="text" name="region" value="{{ wine.region }}" placeholder="Region">
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Kaufdatum:
          <input id="purchase" type="text" name="purchase" placeholder="06.06.2018" value="{{ wine.purchase|date:"d.m.Y" }}">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Preis: (~ CHF)
          <input id="price" type="text" name="price" value="{{ wine.price|default:"0" }}">
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Händler:
          <input id="dealer" type="text" name="dealer" value="{{ wine.dealer }}" placeholder="Händler">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Trauben:
          <input id="grapes" type="text" name="grapes" value="{{ wine.grapes }}" >
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Trinkreif von:
          <input id="drinkfrom" type="number" name="drinkfrom" value="{{ wine.drinkfrom }}" placeholder="Trinkreife">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Trinkreif bis:
          <input id="drinkto" type="number" name="drinkto" value="{{ wine.drinkto }}" placeholder="Trinkreife">
        </label>
      </div>
    </div>
    <label>Notes:
      <textarea name="notes" id="notes" rows="4" cols="30">{{ wine.notes }}</textarea></p>
    </label>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>
        <a href="/wine/{{ wine.id }}" class="button"><i class="fas fa-window-close"></i></a>
        <button type="submit" class="button"><i class="fas fa-save"></i></button>
        </label>
    </div>
</form>
{% endblock %}