{% extends "./base.html" %}
{% block content %}
<div class="card-body">

<form method="post">{% csrf_token %}
    "{{ wine.winename }}" wirklich löschen?<br><br>
    <a href="/wine" class="btn btn-primary"><i class="fas fa-window-close"></i></a>
    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i></button>
</form>
</div>
{% endblock %}




<!-- Modal -->
<div class="modal fade" id="wine_confirm_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

                  {% block content %}
        <div class="card-body">

        <form method="post">{% csrf_token %}
            "{{ wine.winename }}" wirklich löschen?<br><br>
            <a href="/wine" class="btn btn-primary"><i class="fas fa-window-close"></i></a>
            <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i></button>
        </form>
        </div>
        {% endblock %}





      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>