{% extends "./base.html" %}
{% block content %}
{% csrf_token %}

<!-- Modal -->

        <h5 class="modal-title" id="{% url 'wine:detail_wine' wine.id %}">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
                        <h3>{{ wine.winename }}</h3>
                        <h4>{{ wine.producer }}</h4>
                            <b>Jahrgang:</b> {{ wine.year }}<br>
                            <b>Trauben:</b> {{ wine.grapes|default_if_none:'' }}<br>
                            <b>Land:</b> {{ wine.country }}<br>
                            <b>Region:</b> {{ wine.region }}<br>
                            <b>Anzahl Flaschen:</b> {{ wine.nmbrbottles }}<br>
                            <b>Kaufdatum:</b> {{ wine.purchase|default_if_none:'' }}<br>
                            <b>Trinkreif von:</b> {{ wine.drinkfrom|default_if_none:'' }}<br>
                            <b>Trinkbar bis:</b> {{ wine.drinkto|default_if_none:'' }}<br>
                            <b>Händler:</b> {{ wine.dealer }}<br>
                            <b>Notiz:</b><br>{{ wine.notes }}
                        <br><br>
                            <div class="dates">Update: {{ wine.editdate|date:"d.m.Y"}}</div>
                        <br>

<a href="/" class="btn btn-info btn-sm">
              <img src="/static/wine/bootstrap/icons/x-square.svg" alt="Schliessen" width="16" height="16" title="Schliessen">
              </a>
              <a href="{% url 'wine:update_wine' wine.id %}" class="btn btn-info btn-sm">
              <img src="/static/wine/bootstrap/icons/screwdriver.svg" alt="Edit" width="16" height="16" title="Edit">
              </a>
              <a href="{% url 'wine:wine_delete' wine.id %}" class="btn btn-info btn-sm">
              <img src="/static/wine/bootstrap/icons/trash-fill.svg" alt="Löschen" width="16" height="16" title="Löschen">
              </a>
{% endblock %}
