{% extends "./base.html" %}
{% block content %}
<div class="container">
<br>
{% load static %}
<div class="table-responsive">

<!--    <a class="btn btn-secondary" href="/wine/log" role="button"><img src="{% static "wine/bootstrap/icons/card-list.svg" %}" alt="Detail" width="" height="" title="Changes in Stock"></a>-->

<table
    class="table"
    data-toggle="table"
    data-classes="table table-borderless table-hover"
    id="wineTable"
    data-toolbar="#toolbar"
    data-search="true"
    data-filter-control="true"
    data-filter-control-visible="false"
    data-show-search-clear-button="true"
    data-show-filter-control-switch="true"
    data-detail-view="true"
    data-detail-formatter="detailFormatter"
>
  <thead>
    <tr>
      <th data-sortable="true" data-field="Wein" data-filter-control="input">Wein</th>
      <th class="d-none d-sm-table-cell" data-sortable="true" data-field="Produzent" data-filter-control="input">Produzent</th>
      <th class="d-none d-sm-table-cell" data-sortable="true" data-field="Land" data-filter-control="select" >Land</th>
      <th class="d-none d-sm-table-cell" data-sortable="true" data-field="Region" data-filter-control="input">Region</th>
      <th data-sortable="true" data-field="Jahrgang" data-filter-control="select">Jg.</th>
      <th class="d-none d-sm-table-cell" data-sortable="true" data-field="Trauben" data-filter-control="input">Trauben</th>
      <th class="d-none d-sm-table-cell" data-sortable="true" data-field="Trinkreif von" data-filter-control="select">trinkbar von</th>
      <th class="d-none d-sm-table-cell" data-sortable="true" data-field="Trinkbar bis" data-filter-control="select">trinkbar bis</th>
      <th data-sortable="true" data-field="Anzahl Flaschen" data-filter-control="select"><img src="{% static "wine/bootstrap/icons/basket-fill.svg" %}" alt="Detail" width="16" height="16" title="Detail"></th>
      <th class="d-none d-sm-table-cell" data-sortable="true" data-field="Notiz" data-visible="false" data-filter-control="input"></th>
    </tr>
  </thead>
<tbody>
{% for wine in object_list %}
{% load static %}
<tr class="trlist">
    <td>{{ wine.winename }}</td>
    <td class="d-none d-sm-table-cell">{{ wine.producer }}</td>
    <td class="d-none d-sm-table-cell">{{ wine.country }}</td>
    <td class="d-none d-sm-table-cell">{{ wine.region }}</td>
    <td>{{ wine.year|default_if_none:'' }}</td>
    <td class="d-none d-sm-table-cell">{{ wine.grapes }}</td>
    <td class="d-none d-sm-table-cell">{{ wine.drinkfrom|default_if_none:''}}</td>
    <td class="d-none d-sm-table-cell">{{ wine.drinkto|default_if_none:'' }}</td>
    <td>{{ wine.nmbrbottles }}</td>
    <td>{{ wine.notes }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

</body>
</html>
<!--<script>-->
<!--  function detailFormatter(index, row) {-->
<!--    var html = []-->
<!--    $.each(row, function (key, value) {-->
<!--      html.push('<p><b>' + key + ':</b> ' + value + '</p><br>')-->
<!--    })-->
<!--    return html.join('')-->
<!--  }-->
<!--</script>-->
<script>
function detailFormatter(index, row) {
  var html = []
  var indexs = 0

  $.each(row, function(key, value) {
    //index +1 because first column is for `+`
    //and data-field is column a ,column b..etc
    var columns = $("th:eq(" + (indexs + 1) + ")").data("field")
    if (columns != undefined) {
      html.push('<b>' + columns + ':</b> ' + row[columns] + '</br>')
      indexs++;
    }
  })
  //here columnC matches with data-field value.
   html.push(row['Produzent'] + '</p>')
  return html;
}
</script>
{% endblock %}
