{% extends "./base.html" %}

{% block content %}
<title>Winecellar - Detailview</title>

<div align="center"></div>
  <div class="card-body">
      <h2 class="card-title"><b>{{ wine.winename }}</b></h2>
    <div class="card-text">
        <b>Weinname:</b>      {{ wine.winename }}<br>
        <b>Produzent:</b> {{ wine.producer }}<br>
        <b>Trauben:</b> {{ wine.grapes }}<br><br>
        <b>Jahrgang: {{ wine.year }}</b><br>
           - Trinkreif ab: {{ wine.drinkfrom }}<br>
           - Austrinken bis: {{ wine.drinkto }}<br>
        <br>
        <b>Anzahl Flaschen:</b> {{ wine.nmbrbottles }}<br>
      <br>
        <b>Kaufdatum:</b> {{ wine.purchase }}<br>
        <b>Notiz:</b> {{ wine.notes }}
      <br><br>
        <div class="dates">update: {{ wine.editdate|date:"d.m.Y"}}</div>
      <br><br>
        <a href="/wine" class="btn btn-primary"><i class="fas fa-window-close"></i></a>
        <a href="{% url 'wine:wine_edit' wine.id %}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
        <a href="{% url 'wine:wine_delete' wine.id %}" class="btn btn-primary"><i class="fas fa-trash"></i></a>
  </div>
</div>
{% endblock %}