{% extends "./base.html" %}
{% block content %}
<div class="container">
    <div class="content">
    {% load static %}
<div class="container">
  <div class="row">
    <div class="col">
      MyBottles: <b>{{bottles_sum|default:"0"}}</b> Flaschen, {{wines_sum|default:"0"}} Positionen.
    </div>
    <div class="col">
    <p>
      <a class="btn btn-success btn-sm" href="/wine/export_xls"><i class="bi bi-filetype-xls" style="color: black;"></i></a> Excel Export
    </p>
    <p>
      <a class="btn btn-danger btn-sm" href="/wine/export"><i class="bi bi-filetype-csv" style="color: black;"></i></a> CSV Export
    </p>
    </div>
  </div>
<br><br>
  <div class="row">
    <div class="col">
        <b>Letzte 30 Veränderungen im Keller:</b>
        <br><br>
        {% load static %}
        {% for wine in object_list %}
        {% load static %}
        <div class="winelog">{{ wine.editdate|date:"d.m.Y"}}, <a href="{% url 'wine:update_wine' wine.id %}">{{ wine.winename }}</a> {{ wine.producer }}<br></div>
        {% endfor %}
        {% endblock %}
    </div>
    <div class="col">
    </div>
  </div>
</div>
















