{% extends "./base.html" %}
{% block content %}
<div class="container">
    <div class="content">
{% load static %}
<br><br>
  <div class="row">
    <div class="col">
        <h2>{{ wine.winename }}</h2><br>
        <b>Prouzent:</b> {{ wine.producer }}<br>
            <b>Land:</b> {{ wine.country }}<br>
            <b>Region:</b> {{ wine.region }}<br>
            <b>Trauben:</b> {{ wine.grapes }}<br>
            <b>Trinkreif von:</b> {{ wine.drinkfrom|default_if_none:'' }}<br>
            <b>Trinkbar bis:</b> {{ wine.drinkto|default_if_none:'' }}<br>
            <b>Händler:</b> {{ wine.dealer }}<br>
            <b>Kaufdatum:</b> {{ wine.purchase|default_if_none:''|date:'d.m.Y' }}<br>
            <b>Preis:</b> {{ wine.price }}<br>
            <b>Lagerort:</b> {{ wine.warehouse }}<br>
            <b>Jahrgang:</b> {{ wine.year }}<br>
            <b>Anzahl Flaschen: {{ wine.nmbrbottles }}</b><br><br>
            <b>Notiz:</b><br>
            {{ wine.notes }}
            <br><br>
            <div class="dates">Update: {{ wine.editdate|date:"d.m.Y"}}</div>
            <br><br>
            <a href="/wine/log" class="btn btn-info btn-sm">
                <img src="{% static "wine/bootstrap/icons/arrow-left-circle.svg" %}" alt="Back" width="" height="" title="Back">
            </a>
            <a href="{% url 'wine:update_wine' wine.id %}" class="btn btn-success btn-sm">
                <img src="{% static "wine/bootstrap/icons/pencil.svg" %}" alt="Edit" width="" height="" title="Wein editieren">
            </a>
            <br><br><br><br>
    </div>

  </div>
</div>
{% endblock %}
















